html, body, div {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.intro {
	position: relative;
	width: 100vw;
	height: 50vh;
	background: white;
}

.diving {
	position: relative;
	width: 100vw;
	height: 100vh;
	background: white;
}

img.dive1 {
	left: calc(50vw - 98px);
	display: block;
	vertical-align: middle;
}

img.dive2 {
	position: absolute;
	left: calc(50vw - 98px);
	bottom: 0;
	display: block;
	vertical-align: middle;
}

.brain {
	position: relative;
	width: 100vw;
	height: 100vh;
	background: white;
}

img.brain {
	position: absolute;
	height: auto;
	width: 100vw;
	bottom: 0;
	display: block;
	vertical-align: middle;
}

.brain-text {
	position: relative;
	width: 100vw;
	height: 75vh;
	background: black;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
	color: white;
	font-size: 2.2em;
	font-weight: 200;
}

p.text1 {
	width: 60vw;
}

img.diver {
	position: absolute;
	display: block;
}

.diver-black {
	position: relative;
	width: 100vw;
	height: 50vh;
	background: black;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
	color: white;
	font-size: 2.2em;
	font-weight: 200;
}

p.text2 {
	width: 65vw;
}

img.monster {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	vertical-align: middle;
}

.transmission {
	position: relative;
	width: 100vw;
	height: 175vh;
	background: white;
	font-family: Inconsolata, sans-serif;
	color: black;
	font-size: 1.2em;
	padding-top: 30vh;
	padding-left: 10vh;
}

img.astronaut {
	position: absolute;
	right: 15vw;
	bottom: 100vh;
}